*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body, html, #root{
    background: #fff;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
a{
    color: #fff;
}